.chat-body {
    padding: 0;
}

.chat-body .status-bar,
.chat-body .header {
    padding: 0px 20px;
}

.chat {
    background-image: url("../images/chat_background.png");
    min-height: 100vh;
}

.chat-write {
    position: fixed;
    bottom: 50px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fcfcfc;
    padding: 0px 20px;
    border-radius: 40px;
    left: 0;
    right: 0;
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
                0 18px 36px -18px rgba(0, 0, 0, 0.3),
                0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}

.chat-write i {
    font-size: 22px;
}

.chat-write-column:nth-child(2) {
    width: 80%;
}

.chat-write-column input {
    padding: 20px 10px;
    width: 100%;
    border: none;
    font-size: 14px;
}

.chat-write-column input:focus {
    outline: none;
}

.chat .chat-messages {
    border-top: 1px solid #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;
    padding-top: 30px;
}

.chat-messages .chat-timestamp {
    background-color: white;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.message {
    display: flex;
    align-items: flex-start;
    width: 50%;
    margin-bottom: 15px;
}

.message .message-content {
    width: 80%;
}

.incoming-message {
    align-self: flex-start;
}

.sent-message {
    align-self: flex-end;
}

.incoming-message img {
    width: 30px;
    margin-right: 15px;
}

.chat .friend-profile {
    border-radius: 50%;
}


.message .message-bubble {
    box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
                0 18px 36px -18px rgba(0, 0, 0, 0.3),
                0 -12px 36px -8px rgba(0, 0, 0, 0.025);
    background-color: white;
    padding: 10px 20px;
    border-radius: 30px;
    display: block;
}

.message-content span {
    display: table-cell;
    vertical-align: center;
}

.message-content .message-author {
    display: block;
    margin-bottom: 5px;
    font-size: 12px;
}

.incoming-message .message-bubble,
.sent-message .message-bubble {
    color: #f7f7f7;
    background-color: #020202;
}