.message .msg-divider {
    text-align: center;
    font-size: 12px;
    margin-bottom: 15px;
}

.get_message {
    margin-bottom: 20px;
}

.get_message .get-msg-column {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.get_message img {
    margin-right: 10px;
}

.get_message .msg-username {
    display: block;
    font-size: 13px;
    opacity: 0.6;
    margin-bottom: 8px;
}

.get-msg-add {
    margin-bottom: 15px;
}

.get_message .msg-get-text,
.get-msg-add .msg-get-text {
    font-size: 15px;
    font-weight: 300;
    background-color: #f0f0f0;
    border-radius: 40px;
    padding: 3px 9px;
}

.get-msg-add .get-msg-empty {
    margin-left: 55px;
}

.get-msg .msg-timestamp,
.get-msg-add .msg-timestamp {
    font-size: 10px;
    opacity: 0.6;
}


.sent_message {
    margin-bottom: 20px;
}

.sent_message .sent-msg,
.sent_message .sent-msg-add {
    display: flex;
    justify-content: flex-end;
}



.sent_message .sent-msg-column {
    margin-bottom: 14px;
}

.sent_message .msg-sent-text {
    font-size: 15px;
    font-weight: 300;
    color: honeydew;
    background-color: #0284FF;
    border-radius: 40px;
    padding: 3px 9px;
}

.sent_message .msg-timestamp {
    font-size: 10px;
    opacity: 0.6;
}