.find-body {
    padding-top: 115px;
    min-height: 118vh;
}

.channel {
    margin-bottom: 40px;
}

.channel-title {
    font-size: 11px;
    opacity: 0.8;
    color: #0284FF;
    margin-bottom: 10px;
}

.channel .ad-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.channel .ad {
    width: 75px;
    height: 90px;
}

.channel .ad-entitle {
    font-size: 11px;
    font-weight: 600;
    margin-bottom: 4px;
}

.channel .ad-spec {
    font-size: 11px;
    opacity: 0.6;
    margin-bottom: 5px;
}

.ad-img {
    border: 1px solid #020202;
    margin-bottom: 3px;
}

.ad-add {
    font-size: 11px;
    border: 1px solid #020202;
    border-radius: 40px;
}

.friend-recommends .recommend-content {
    background-color: #f0f0f0;
    padding: 5px 12px;
}

.friend-recommends .friend-ad-icon {
    font-size: 12px;
}