.friends-body {
    min-height: 110vh;
}

.friend {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.friend .friend-column {
    display: flex;
    align-items: center;
}

.friend .friend-content {
    margin-left: 15px;
}

.friend .friend-username {
    display: block;
    font-size: 15px;
    margin-bottom: 5px;
    font-weight: 600;
}

.friend .friend-preview,
.friend .friend-status,
.friend .friend-email {
    font-size: 12px;
    opacity: 0.6;
}

.friend .friend-timestamp {
    display: block;
    font-size: 10px;
    opacity: 0.6;
    margin-bottom: 8px;
}

.friend .friend-header-bar-count,
.friend .friend-header-bar-icon {
    font-size: 11px;
    opacity: 0.6;
    cursor: pointer;
}


.friend .friend-music {
    font-size: 10px;
    color: #0284FF;
    margin-right: 5px;
}


.friend .friend-music-icon {
    font-size: 10px;
    color: #0284FF;
}

.friend .friend-msg-status {
    float: right;
    background-color: #dc5d46;
    font-size: 12px;
    color: white;
    width: 17px;
    height: 17px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}


.friend .m-profile {
    width: 45px;
    height: 45px;
    border-radius: 40%;
}

.friend .g-profile {
    width: 55px;
    height: 55px;
    border-radius: 40%;
}

.friend .friend-header-bar {
    font-size: 15px;
}

.friend-header-bar-title{
    font-size: 11px;
    color: #0284FF;
    margin-bottom: 10px;
    opacity: 0.8;
}

.friend .music-listen {
    border: 1.2px solid #0284FF;
    padding: 1px 8px;
    padding-bottom: 4px;
    border-radius: 15px;
    opacity: 0.8;

}

.friend .point {
    border: 1.2px solid;
    padding: 3px 11px;
    padding-bottom: 4px;
    border-radius: 15px;
    opacity: 0.8;
}

.friend .friend-point-title {
    font-size: 14px;
    text-align: center;
    font-weight: 600;
}