.friend {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.friend .friend-profile {
    border-radius: 35%;
}

.friend .g-profile {
    width: 70px;
    height: 70px;
}

.friend .m-profile {
    width: 50px;
    height: 50px;
}

.friend .friend-column {
    display: flex;
    align-items: center;
}

.friend-column .friend-profile {
    margin-right: 15px;
}

.friend-content .friend-username {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}

.friend-content .friend-status,
.friend-content .friend-preview,
.friend .chat-timestamp {
    opacity: 0.6;
}

.friend-content .friend-preview {
    font-size: 14px;
}

.friend-content .friend-status,
.friend .chat-timestamp {
    font-size: 12px;
}

.friend .friend-now-listening {
    border: 1.5px solid #52e084;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 14px;
}

.friend .friend-now-listening span {
    opacity: 0.5;
}

.friends .friends-friend,
.chats .chats-chat {
    margin-bottom: 20px;
}

.friend-add-btn {
    display: flex;
    padding: 10px 15px;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 5px;
}