.header-wrapper {
    position: fixed;
    background-color: white;
    padding: 10px;
    padding-bottom: 0px;
    top: 0px;
    width: 94%;
    z-index: 1;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    color: #0284FF;
}

.header .header-title {
    font-size: 25px;
    font-weight: 600;
}

.header .header-icon {
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
}