.more .more-btn-list,
.more .more-suggestions-list {
    margin: 30px;
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.more-btn-list .more-btn,
.more .suggestion {
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.more-btn .more-btn-title {
    font-size: 14px;
    margin-top: 15px;
}

.more .more-suggestions {
    border-top: 1px solid #f7f7f7;
    padding-top: 20px;
}

.more .more-title {
    opacity: 0.8;
    margin-bottom: 20px;
}

.suggestion .suggestion-title {
    font-size: 12px;
    margin-top: 15px;
}

.suggestion .suggestion-icon {
    background-color: #fce006;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.suggestion-icon i {
    font-size: 28px;
}